body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

header{
    display: flex;
    background-color: #1f2937;
    flex-direction: row;
    justify-content: space-around;
}

#logo{
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 12px;
}

#links{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    padding: 12px;
    list-style-type: none;
    justify-content: space-between;
    flex-grow: 0;
}

ul li{
    margin:8px
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

#main{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: #1f2937;
}

#inner-box{
    flex-direction: column;
}

h1{
    display: flex;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-left: 200px;
    margin-bottom: 0;
}

#description{
    display: flex;
    margin-left: 200px;
    margin-top: 0;
    padding: 8px;
    font-size: 18px;
    width: 400px;
    height: 100px;
    color:#e5e7eb; 
}

#sign-up{
    display:flex;
    justify-content: center;
    color: #F9FAF8;
    background-color: #3882f6;
    font-size: 18px;
    margin-left: 200px;
    margin-top: 0;
    padding: 8px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

#chick{
    display: flex;
    flex-shrink: 0;
    float: right;
    flex-flow: row wrap;
    flex-grow: 0;
    margin-left: 50px;
    margin-bottom: 20px;
}
#information{
    margin: 10px;
}

#box{
    display: flex;
    border: 5px solid #3882f6;
    border-radius: 20px;
    margin: 8px;
    height: 200px;
    width: 200px;
}

#boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-dsc{
    display: flex;
    width: 200px;
    padding: 8px;
    justify-content: center;
    color: #898a88;
}

#quote-sec{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: auto;
    background-color: #e5e7eb;
    flex-grow: 900;
    flex-shrink: 0;
}

#quote{
    display: flex;
    color: #1f2937;
    font-style: light italic;
    margin-right: 480px;
    font-size: 36px;
    width: 800px;
    height: 150px;
}

#quote-auth{
    display: flex;
    font-weight: 900;
    font-size: 22px;
    height: 80px;
    width: 250px;
    margin-right: 450px;
}